Repository grenovales/astro-framework7, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, ci/cd, infrastructure, documentation, test, JavaScript, TypeScript, Python

Update README.md
  README.md
Labels: repo, documentation

Update README.md
  README.md
Labels: repo, documentation

Create CHANGELOG.md
  CHANGELOG.md
Labels: repo, documentation

.
  .gitignore
  package.json
  pnpm-lock.yaml
  src/index.ts
  tsconfig.json
Labels: repo, TypeScript

chore: release v0.0.2
  package.json
Labels: repo

new changes
  .astro/types.d.ts
  .npmrc
  pnpm-lock.yaml
  src/env.d.ts
  tsconfig.json
Labels: repo, TypeScript

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'

ci/cd:
- .github/workflows/*

infrastructure:
- terraform/**

documentation:
- README.md
- "**/*.qhelp"
- "**/*.md"
- docs/**/*

test:
- "**/*test*"
- "**/*.spec.js"

JavaScript:
- "**/*.js"

TypeScript:
- "**/*.ts"

Python:
- "**/*.py"
